/* general styles */

* {
    margin: 0;
    padding: 0;
}

main {
    margin-inline: auto;
    width: 40%;
}

p, ol {
  font-family: 'Lexend';
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #333651;  
  padding-block: 1em;
}


h1 {
    font-family: 'Grandstander';
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    color: #333651;
    /* 1em = 36px */
    padding-top: 1em;
    padding-bottom: .25em;
    
}

h2 {
    font-family: "Lexend";
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    color: #333651;
    padding-top: 1em;
}

h3 {
    font-family: "Lexend";
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    color: #333651;
    padding-top: 1em;
}

h4 {
    font-family: "Lexend";
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    color: #333651;
    padding-top: 1em;
}

a {
    font-family: "Lexend";
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    color: #3d96b7;
    text-decoration: underline;
}

a:hover {
    color: #2A6980;
}



  ol {
    padding-left: 20px;
  }

  /* blog styles */

  .article-date {
    font-family: 'Lexend';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #3d96b7;  
  }

  #orange-cat {
    float: right;
  }

  #newsletter-subscribe {
    background-color: #3d96b7;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
    
  }

  #newsletter-subscribe form {
    width:fit-content;
    margin-inline: auto;
  }

  #newsletter-subscribe h2 {
    color: white;
    text-align: center;
    padding-block: 20px;
  }

 #newsletter-subscribe label {
    font-family: 'Lexend';
    font-weight: 400;
    color: white;
    font-size: 18px;
 
 }

 #newsletter-subscribe input {
    width: 350px;
    border-radius: 5px;
    height: 50px;
    border:0px;
    font-family: 'Lexend';
    padding-inline: 10px;
    font-size: 18px;
    color: #333651;
    
 }

.button-primary {
    font-family: 'Lexend';
    font-weight: 700;
    background-color: #333651;
    color: white;
    border: 0px;
    font-size: 18px;
    padding: 14px 20px;
    border-radius: 5px;
 }

 .button-primary:hover {
    outline: 3px solid white;
 }


 #related-articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
 }

 #article-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
 }

 #article-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
 }

 #article-3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
 }


 #related-articles-container img {
   width: 100%;
 }


/* main navigation */
 
nav menu li {
    list-style: none;
}

nav {
    /* the first value is top/bottom, the second value is left/right */
    padding: 30px 30%; 
    display: flex;
    justify-content: space-between;
    background-color: #3d96b7;
    

}

#main-menu {
    
    display: flex;
    gap: 40px;
    /* justify-content: flex-start; is the default, so I don't specify it. */
}

#main-menu .dropdown {
    display: none;
    position: absolute;
    background-color: #333651;
    padding: 10px 30px;
}
#main-menu .dropdown li {
    padding-block: 10px;
}


#main-menu .dropdown li a:hover {
    color: #3d96b7;

}

#main-menu .dropdown-trigger:hover .dropdown {
    display: block;
}



nav a {
    color: white;
    text-decoration: none;
}

nav button {
    background-color: transparent;
    border: none;
    font-family: 'Lexend';
    font-size: 18px;
    font-weight: 700;
    color: white;
}

nav a:hover, nav button:hover {
    color: #333651;
}